body {
    font-family: "Press Start 2P", system-ui;
    background-image: url("img/fundo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0; 
    color: white;
    font-weight: lighter;
}

.scoreboard{
    display: flex;
    max-width: 800px;
    width: 100%;
    max-height: 370px;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    background-color: #ba0c2f;
    border-radius: 20px;
}

#logo{
    width: 120px;
    margin: 0 0 20px 15px;
}

.scorevalor{
    background-color: rgba(116, 59, 187, 0.8);
    height: 90px;
    font-size: 70px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#resetbutton{
    display: grid;
    align-items: center;
}

#logo{
    margin-bottom: 30px;
}

button{
    background-color: rgba(116, 59, 187, 0.8);
    color: white;
    font-family: "Press Start 2P", system-ui;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
}

button:hover{
    background-color: white;
    color: #743beb;
}
